account_id               = "00000000000000000000000000000000"
environment              = "staging"
enable_resource_creation = false
enable_access_applications = false
zone_name                    = "coasts.red"
console_hostname             = "console.staging.gridora.coasts.red"
public_app_hostname          = "staging.gridora.coasts.red"
api_hostname                 = "api.staging.gridora.coasts.red"
dns_target_hostname          = "nodes.staging.gridora.coasts.red"
